/* TEXT  */
button{
  border: 0ch;
}
font-face{
  font-family: magesta
  src="url(Magesta.tff)";
  }
.text-center {
    text-align: center;
}

.heading-small {
    font-size: 1.25rem !important;
}
.heading-medium {
    font-size: 1.5rem !important;
}
.heading-big {
    font-size: 1.75rem !important;
    font-weight: bold;
}

/* Colors */

.bg-dark-blue {
    background-color: #062e51;
}

.bg-light-blue {
    background-color: #336ea2;
}


.form-group {
    padding: 0.25rem 0;
}

.form-group label {
    display: block;
}
.form-control {
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
    resize: none;
    border-radius: 5px;
}

.btn {
    margin-top: 1.25rem;
    padding: 0.8rem 3rem;
    border-radius: 7px;
    letter-spacing: 0.5px;
  }

  .btn-block {
    width: 100%;
    text-align: center;
  }
  /* Buttons */

.btn1 {
    margin-top: 1.25rem;
    border-radius: 7px;
    letter-spacing: 0.5px;
  }
  .btn-primary1 {
    background: #336ea2;
  }
  .btn-primary1:hover {
    color: #336ea2;
    /* background: #fff; */
    border: 1px solid #336ea2;
  }
  .btn-dark {
    background: #333;
  }
  .btn-dark:hover {
    color: #333;
    background: #fff;
    border: 0.5px solid #333;
  }
  
  .btn-block1 {
    width: 100%;
    text-align: center;
    padding-left: 0.33rem !important;
    padding-right: 0.33rem !important;
    height: 40px;
  }

#imza_s {
  max-width: 10rem;
}