#navbar ul li a {
    font-size: 1em;
}
#contact {
    padding: 3rem;
}

/* .call {
    font-size: 10px;

}
.adress {
    font-size: 8px;
} */
#offcanvasWithBothOptions {
    width: 80%;
}
.modal-footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
