#navbar {
    height: 160px;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#sezo {
    font-size: 1.25rem;
    margin-top: 0.5rem;

}
#home {
    flex-direction: column;
    padding: 5rem 2rem;
    padding-top: 150px;
}
#home #me {
    min-width: none;
    padding: 0.5rem;
}
#home #cv {
    font-size: 1rem;
    
}
#works .items {
    flex-direction: column;
}
#works .items .item {
    width: 100%;
}
#contact .call-adress {
    padding: 0.5rem;
}
