
#navbar {
    height: 120px;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#navbar ul{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

}
#navbar ul li{
    margin: 1rem auto;

}
#fdInOut {
    display: none;
}
/* #sezo {
    font-size: 1.25rem;
    margin-top: 0.5rem;

} */
#works #caro {
    width: 100% !important;
}
#home {
    flex-direction: column;
    padding: 5rem 2rem;
    padding-top: 150px;
}
#home #me {
    min-width: none;
    padding: 0.5rem;
}
#home #cv {
    font-size: 1rem;
    
}
#works .items {
    flex-direction: column;
}
#works .items .item {
    width: 100%;
}
#contact .call-adress {
    padding: 0.5rem;
}

#canvas-btn{
    max-width: 500px;
    padding: 0 1rem;
    background-color: #fff !important;
    color: #062e51;
    margin-top: 1.5rem;
    margin-left: 1.5rem;

    /* position: relative;
    left: 20px;
    top: 20px; */
    
    
}
#offcanvasWithBothOptions {
    width: 60%;
}

